POSTGRES_DB=mcm_store
POSTGRES_USER=mcm_user
POSTGRES_PASSWORD=mcm_password
JWT_SECRET=diploma-secret-key
NEXT_PUBLIC_API_URL=http://localhost:8000/api
S3_ENABLED=true
S3_ENDPOINT_URL=http://localhost:9000
S3_PUBLIC_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=mcm-content
